# GITIGNORE
# Node
node_modules/
npm-debug.log

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# API
/api/node_modules
# NÃO ignorar dist (precisa estar no repositório para produção sem devDeps)
# /api/dist

# Web
/web/node_modules
# Não ignorar /web/views nem /web/public (frontend precisa ser servido pela API)
