# Node
node_modules/
npm-debug.log

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# API
/api/node_modules
# dist precisa estar no repositório
# NÃO ignorar api/dist

# Web
/web/node_modules
# NÃO ignorar /web/views e /web/public
