<!-- web/partials/_header.html -->
<nav class="navbar navbar-expand-lg shadow-sm" id="mainNavbar">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#" onclick="loadView('/views/dashboard/dashboard.html')">
      <img src="/public/img/gestao360-logo.svg" alt="Gestão 360°" width="150">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" id="sidebarToggle">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
